#sliderRam, #sliderReplica, #sliderPerc, #sliderBuckets, #sliderCores, #sliderXDCR, #sliderThread {
    background: #7f3f00;
    height:10px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 15px;
    /* padding-left: 5px; //add this */
}
h1 {
    font-family: Gill Sans;
    font-weight: bold;
    font-size: 18px;
}
body, p {
    font-family: Gill Sans;
}
.classSliderGroup {
    border-collapse:collapse;
    border: 1px solid #D0D0D0;
    margin-left:25px;
    width:500px;
}
.classTable {
    margin-left:0px;
    padding:0px;
    width:500px;
    border:1px solid #cccccc;
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.classTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
.classTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
}
.classTable table tr:first-child td:first-child {
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.classTable table tr:first-child td:last-child {
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}
.classTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
}
.classTable tr:hover td {
    background-color:#ffffff;
}
.classTable td {
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:3px;
    font-size:14px;
    font-family:Gill Sans;
    font-weight:bold;
    color:#000000;
}
.classTable tr:last-child td {
    border-width:0px 1px 0px 0px;
}
.classTable tr td:last-child {
    border-width:0px 0px 1px 0px;
}
.classTable tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
}
.classTable tr:first-child td {
    background:-o-linear-gradient(bottom, #7f3f00 5%, #7f3f00 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7f3f00), color-stop(1, #7f3f00));
    background:-moz-linear-gradient(center top, #7f3f00 5%, #7f3f00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f3f00", endColorstr="#7f3f00");
    background: -o-linear-gradient(top, #7f3f00, 7f3f00);
    background-color:#7f3f00;
    border:0px solid #cccccc;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:20px;
    font-family:Gill Sans;
    font-weight:bold;
    color:#ffffff;
}
.classTable tr:first-child:hover td {
    background:-o-linear-gradient(bottom, #7f3f00 5%, #7f3f00 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7f3f00), color-stop(1, #7f3f00));
    background:-moz-linear-gradient(center top, #7f3f00 5%, #7f3f00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f3f00", endColorstr="#7f3f00");
    background: -o-linear-gradient(top, #7f3f00, 7f3f00);
    background-color:#7f3f00;
}
.classTable tr:first-child td:first-child {
    border-width:0px 0px 1px 0px;
}
.classTable tr:first-child td:last-child {
    border-width:0px 0px 1px 1px;
}
/*    */
 .classTableOutput {
    margin-left:0px;
    padding:0px;
    width:500px;
    border:1px solid #cccccc;
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.classTableOutput table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
.classTableOutput tr:last-child td:last-child {
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
}
.classTableOutput table tr:first-child td:first-child {
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.classTableOutput table tr:first-child td:last-child {
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}
.classTableOutput tr:last-child td:first-child {
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
}
.classTableOutput tr:hover td {
    background-color:#ffffff;
}
.classTableOutput td {
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:15px;
    font-size:16px;
    font-family:Gill Sans;
    font-weight:bold;
    color:#000000;
}
.classTableOutput tr:last-child td {
    border-width:0px 1px 0px 0px;
}
.classTableOutput tr td:last-child {
    border-width:0px 0px 1px 0px;
}
.classTableOutput tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
}
.classTableOutput tr:first-child td {
    background:-o-linear-gradient(bottom, #7f3f00 5%, #7f3f00 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7f3f00), color-stop(1, #7f3f00));
    background:-moz-linear-gradient(center top, #7f3f00 5%, #7f3f00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f3f00", endColorstr="#7f3f00");
    background: -o-linear-gradient(top, #7f3f00, 7f3f00);
    background-color:#7f3f00;
    border:0px solid #cccccc;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:20px;
    font-family:Gill Sans;
    font-weight:bold;
    color:#ffffff;
}
.classTableOutput tr:first-child:hover td {
    background:-o-linear-gradient(bottom, #7f3f00 5%, #7f3f00 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7f3f00), color-stop(1, #7f3f00));
    background:-moz-linear-gradient(center top, #7f3f00 5%, #7f3f00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f3f00", endColorstr="#7f3f00");
    background: -o-linear-gradient(top, #7f3f00, 7f3f00);
    background-color:#7f3f00;
}
.classTableOutput tr:first-child td:first-child {
    border-width:0px 0px 1px 0px;
}
.classTableOutput tr:first-child td:last-child {
    border-width:0px 0px 1px 1px;
}
/*    */
 .classTableConstants {
    margin-left:0px;
    padding:0px;
    width:500px;
    border:1px solid #cccccc;
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.classTableConstants table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
.classTableConstants tr:last-child td:last-child {
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
}
.classTableConstants table tr:first-child td:first-child {
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.classTableConstants table tr:first-child td:last-child {
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}
.classTableConstants tr:last-child td:first-child {
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
}
.classTableConstants tr:hover td {
    background-color:#ffffff;
}
.classTableConstants td {
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:3px;
    font-size:14px;
    font-family:Gill Sans;
    font-weight:bold;
    color:#cccccc;
}
.classTableConstants tr:last-child td {
    border-width:0px 1px 0px 0px;
}
.classTableConstants tr td:last-child {
    border-width:0px 0px 1px 0px;
}
.classTableConstants tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
}
.classTableConstants tr:first-child td {
    background-color:#cccccc;
    border:0px solid #cccccc;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:20px;
    font-family:Gill Sans;
    font-weight:bold;
    color:#ffffff;
}
.classTableConstants tr:first-child:hover td {
    background-color:#000000;
}
.classTableConstants tr:first-child td:first-child {
    border-width:0px 0px 1px 0px;
}
.classTableConstants tr:first-child td:last-child {
    border-width:0px 0px 1px 1px;
}
.classTableConstants input[type=text] {
    user-select: none;
    color:#808080;
}
/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
 input[type=radio] {
    display:none;
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
 input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 0px 12px;
    border-color: #ddd;
    background-color:#d0d0d0;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
 input[type=radio]:checked + label {
    background-image: none;
    background-color: #e7e7e7;
    color:#808080;
}